---
import {
  Content,
  frontmatter,
} from "../../../../components/markdowns/book/http2.md";
import GingerBookDocLayout from "../../../../layouts/GingerBookDocLayout.astro";
---

<GingerBookDocLayout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <Content />
</GingerBookDocLayout>
