---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="Contact us">
  <PageHeader
    title="Contact Us"
    content="Have questions ? Want to connect ?."
  />

  <div class="container">
    <p>Reach us by email <strong>hello@gingersociety.org</strong></p>
    <p>
      Search us on Instagram, our insta handle is <strong
        >ginger_society_org</strong
      >
    </p>
    <p>You can also scan this QR code to open our insta page</p>
    <img src="/img/ig-qr-code-ginger-society.png" width="300" alt="" />
  </div>
</Layout>

<style>
  .container {
    padding: 30px 150px;
  }
  @media (max-width: 768px) {
    .container {
      padding: 20px;
    }
  }
</style>
