---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import LongText from "../components/LongText.astro";
import LongTextSection from "../components/LongTextSection.astro";

const navItems = [
  { id: "item1", label: "Eligibility Criteria" },
  { id: "item2", label: "Duration" },
  { id: "item3", label: "Compensation" },
  { id: "item4", label: "Internship Steps" },
  { id: "item5", label: "Internship Benefits" },
  { id: "item6", label: "How to Apply" },
];
---

<style>
  a {
    text-decoration: none;
    color: #f85907;
  }
</style>

<Layout title="Internships @ Ginger Society">
  <PageHeader
    title="Internships @ Ginger Society"
    content="Welcome to the Ginger Society Internship Program, where we nurture talent and empower the next generation of engineers and innovators."
  />

  <LongText navItems={navItems}>
    <LongTextSection id="item1" title="Eligibility Criteria">
      <ul>
        <li>
          <strong>Education</strong>: Open to 3rd-year university students and
          graduates from all engineering streams.
        </li>
        <li>
          <strong>Skills</strong>: Strong problem-solving skills, programming
          proficiency, and a passion for open-source technology.
        </li>
        <li>
          <strong>Availability</strong>: Able to commit to a minimum of 40 hours
          per week for the internship.
        </li>
        <li><strong>Equipment</strong>: Must have a personal laptop.</li>
        <li>
          <strong>Workspace</strong>: Should have a comfortable workspace.
        </li>
      </ul>
    </LongTextSection>

    <LongTextSection id="item2" title="Duration">
      <ul>
        <li><strong>Students</strong>: 3 months</li>
        <li><strong>Engineering Graduates</strong>: 6-12 months</li>
      </ul>
    </LongTextSection>

    <LongTextSection id="item3" title="Compensation">
      <ul>
        <li><strong>Students</strong>: $100 per month</li>
        <li><strong>Engineering Graduates</strong>: $200 per month</li>
      </ul>
    </LongTextSection>

    <LongTextSection id="item4" title="Internship Steps">
      <ol>
        <li>
          <strong>Application Process</strong>:
          <ul>
            <li>
              Interested candidates can apply by submitting a handwritten cover
              letter by either of their parents in English or their mother
              tongue. <small
                >If your parents cannot read/write, you can ask your nearby
                postman or primary school teacher in your area to help you.
                (They need to also mention their designation/phone number at the
                back of the cover letter)</small
              >
            </li>
            <li>
              The cover letter should also mention the candidate's university
              name and personal contact details.
            </li>
            <li>
              The cover letter should cover the candidate's place of birth,
              their parents' experience with them as a school student, how they
              balanced family responsibilities and studies, and their parents'
              wishes for their future.
            </li>
            <li>
              Applications are reviewed by our selection committee, and
              shortlisted candidates proceed to the evaluation phase.
            </li>
            <li>
              Applications with project details, academic scores, prior
              internship experience, and other unnecessary information will be <strong
                >rejected</strong
              >.
            </li>
          </ul>
        </li>
        <li>
          <strong>Evaluation Phase</strong>:
          <ul>
            <li>
              Shortlisted candidates undergo a technical assessment or interview
              to assess their technical skills, problem-solving abilities, and
              compatibility with our team and projects.
            </li>
            <li>
              Successful candidates from the evaluation phase move to the final
              selection round.
            </li>
          </ul>
        </li>
        <li>
          <strong>Final Selection</strong>:
          <ul>
            <li>
              Finalists are selected based on their performance in the
              evaluation phase and alignment with Ginger Society's values and
              goals.
            </li>
            <li>
              Selected interns receive an offer letter outlining the internship
              duration, compensation, responsibilities, and expectations.
            </li>
          </ul>
        </li>
      </ol>
    </LongTextSection>

    <LongTextSection id="item5" title="Internship Benefits">
      <ul>
        <li>
          <strong>Paid Internship</strong>: Competitive compensation recognizing
          interns' contributions and dedication.
        </li>
        <li>
          <strong>Hands-On Experience</strong>: Gain valuable hands-on
          experience working on real-world projects and collaborating with
          experienced professionals.
        </li>
        <li>
          <strong>Mentorship</strong>: Receive mentorship and guidance from
          industry experts, enhancing skills and knowledge.
        </li>
        <li>
          <strong>Networking</strong>: Build connections and expand the network
          within the technology and open-source community.
        </li>
        <li>
          <strong>Career Development</strong>: Develop key skills, explore new
          technologies, and pave the way for future career opportunities.
        </li>
        <li>
          <strong>Online Verifiable Certificate</strong>: Receive an online
          verifiable certificate valid for a lifetime upon successful completion
          of the internship.
        </li>
        <li>
          <strong>Ginger Merchandise</strong>: Exclusive Ginger Society
          merchandise as a token of appreciation.
        </li>
        <li>
          <strong>Workspace Support</strong>: Interns without a comfortable
          workspace will be provided with <a
            href="https://cafe.thirdwavecoffee.in/"
            target="_blank">Third Wave Coffee's (TWC)</a
          > Food and Beverages prepaid cards valid across all the cities where TWC
          is present.
        </li>
      </ul>
    </LongTextSection>

    <LongTextSection id="item6" title="How to Apply">
      <ul>
        <li>
          <strong>For Graduates</strong>: Send your cover letter's Scan / Photo
          to <a href="mailto:hello@gingersociety.org">hello@gingersociety.org</a
          >
        </li>
        <li>
          <strong>For Students in University</strong>: Reach out to your
          university's placement and training cell for more information about
          the Ginger Society Internship Program. Your placement and training
          cell can provide you with additional details about the program,
          application process, and deadlines.
        </li>
      </ul>
    </LongTextSection>
  </LongText>
</Layout>
