---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import LongText from "../components/LongText.astro";
import LongTextSection from "../components/LongTextSection.astro";

const navItems = [
  { id: "item1", label: "Our Vision" },
  { id: "item2", label: "Core Values" },
  { id: "item3", label: "Key Activities" },
];
---

<Layout title="GingerDJ Framework | Ginger Society">
  <PageHeader
    title="Manifesto"
    content="Empowering developers and safeguarding open-source software for a thriving and inclusive digital ecosystem."
  />

  <LongText navItems={navItems}>
    <LongTextSection id="item1" title="Our Vision">
      <p>
        To create a sustainable and accessible environment for open-source
        software, fostering innovation, collaboration, and transparency.
      </p>
    </LongTextSection>

    <LongTextSection id="item2" title="Core Values">
      <ul>
        <li>
          <strong>Openness</strong>: We believe in the power of open-source
          software to drive innovation and foster collaboration among developers
          worldwide.
        </li>
        <li>
          <strong>Community</strong>: Our strength lies in the diversity and
          inclusivity of our developer community.
        </li>
        <li>
          <strong>Transparency</strong>: We are committed to transparency in our
          processes, decisions, and interactions.
        </li>
      </ul>
    </LongTextSection>

    <LongTextSection id="item3" title="Key Activities">
      <ul>
        <li>
          <strong>Identification and Forking</strong>: We identify widely-used
          open-source libraries and packages at risk of becoming closed-source.
          We create forks of these projects to ensure their continued
          availability and openness.
        </li>
        <li>
          <strong>DevOps Infrastructure</strong>: We build robust DevOps
          infrastructure to streamline development, testing, and deployment
          processes for the forked projects.
        </li>
        <li>
          <strong>Brand Removal and Integration Cleanup</strong>: We remove
          for-profit branding and any integration-related code that hinders
          openness and accessibility.
        </li>
        <li>
          <strong>Multi-Channel Deployment</strong>: We deploy the forked
          packages on various delivery channels such as npm, Docker, apt, and
          brew, making them easily accessible to developers across different
          platforms.
        </li>
        <li>
          <strong>Feature Implementation</strong>: We implement new features and
          updates to the forked projects with a 1-month Service Level Agreement
          (SLA), ensuring timely enhancements and bug fixes.
        </li>
        <li>
          <strong>Developer Education</strong>: We educate the developer
          community about the benefits of using open-source software and making
          informed choices to support openness and innovation.
        </li>
        <li>
          <strong>Community Forum</strong>: We maintain a vibrant community
          forum for discussions, knowledge sharing, and collaboration among
          developers, fostering a supportive and engaged community.
        </li>
        <li>
          <strong>Inter-Library Compatibility</strong>: We address and resolve
          inter-library compatibility issues, ensuring seamless integration and
          interoperability for all projects using our forked packages.
        </li>
      </ul>
    </LongTextSection>
  </LongText>
</Layout>
