---
import {
  Content,
  frontmatter,
} from "../../../../components/markdowns/db/cli.md";
import GingerDBDocLayout from "../../../../layouts/GingerDBDocLayout.astro";
---

<GingerDBDocLayout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <Content />
</GingerDBDocLayout>
