---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <link rel="icon" type="image/svg+xml" href="/ginger_icon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
      <Footer />
    </main>
  </body>
</html>

<style is:global>
  :root {
    /* Light theme colors */
    --primary-bg-color: #fdf3f2;
    --secondary-bg-color: #ffffff;

    /* Accent colors */
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    :root {
      --primary-bg-color: #13151a;
      --secondary-bg-color: black;
    }
  }
  /* Apply theme colors */
  body {
    background: var(--primary-bg-color);
    color: #000;
    margin: 0;
  }

  html {
    font-family: system-ui, sans-serif;
    background: var(--primary-bg-color);
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
  }

  main {
    margin: auto;
    font-size: 20px;
    line-height: 1.6;
  }

  /* Dark theme body styles */
  @media (prefers-color-scheme: dark) {
    body {
      color: white;
    }
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  a {
    color: #f85907;
  }

  pre {
    padding: 10px;
  }
</style>
